PROJECT_ENDPOINT=https://order-mgt-resource.services.ai.azure.com/api/projects/order-mgt-project
DEPLOYMENT_NAME=gpt-5.4
HOSTED_AGENT_NAME=order-management-agent-python
HOSTED_AGENT_IMAGE=your-container-registry-name.azurecr.io/order-management-agent-python:your-tag
PRODUCT_API_MCP_URL=https://irf-api-mgt.azure-api.net/product-api-mcp/mcp
PRODUCT_API_CONNECTION_ID=product-api-python-agent
FNDY_IQ_MCP_URL=https://order-mgt-ai-search.search.windows.net/knowledgebases/order-mgt-kb/mcp?api-version=2026-08-01-preview
FNDY_IQ_CONNECTION_ID=order-kb-python-agent
FABRIC_IQ_URL=https://f74583ebb3e347a28ff38b968c8e02f8.zf7.w.api.fabric.microsoft.com/v1/mcp/workspaces/f74583eb-b3e3-47a2-8ff3-8b968c8e02f8/dataagents/0ee863be-0841-42c4-8ef9-d80118aafa1d/agent
FABRIC_IQ_CREDENTIAL_CONNECTION_ID=sales-iq-python-agent-credentials
WEB_IQ_MCP_URL=https://api.microsoft.ai/v3/mcp
WEB_IQ_CONNECTION_ID=web-iq-python-agent
WEB_IQ_API_KEY=replace-with-web-iq-access-key
